$color-primary: rgba(#e3c7b1, 0.9);
$color-primary-light: #f5eddc;
$color-primary-light-00: #fffaee;
$color-primary-light-2: #d1af93;
$color-primary-dark: #5c463c;
$color-white: #fff;
$color-black: #000;
$color-brown-middle: #9d847e;
$color-orange: rgba(255, 182, 46, 0.903);
$color-orange-light: #91563a;
$color-orange-transparent: rgba(255, 179, 0, 0.657);
$color-grey-light: #f7f7f7;
$text-shadow: 1px 1px 10px rgba($color-black, 0.2);

$shadow-light: 0.2rem 1rem 1rem rgba($color-black, 0.15);
$shadow-lighter: 0.2rem 1rem 1rem rgba($color-black, 0.13);

$heading-font-family: "noto sans", sans-serif;
$label-heading-color: rgb(255, 163, 34);
$label-heading-hover: rgb(184, 118, 25);
