.form__box {
  width: 120rem;
  height: 70rem;
  background-image: linear-gradient(
    to right bottom,
    ($color-white) 0%,
    ($color-white) 20%,
    ($color-primary) 100%
  );
  border-radius: 30px;
  box-shadow: $shadow-light;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-inner {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-wrap {
      position: absolute;
      height: 100%;
      width: 45%;
      top: 0;
      left: 0;
    }

    &-img {
      position: absolute;
      height: 100%;
      width: 53%;
      left: 48%;
      right: 0;
      background-image: url("../img/owsianka-2.jpg");
      background-position: center;
      background-size: 85%;
      background-repeat: no-repeat;
    }
  }
}

.form-heading {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: 3rem 0 0 0;
  &-secondary {
    font-size: 2rem;
    color: $color-primary-dark;
  }
}

.actual-form {
  margin: 5rem 0 3rem 0;
}

.input-wrap {
  position: relative;
  height: 4rem;
  margin-bottom: 2rem;

  .input-field,
  textarea {
    position: absolute;
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-primary-light;
    outline: none;
    font-family: $heading-font-family;
    border-radius: 4px;
    padding: 1rem;

    &:focus {
      outline: 1px solid $color-primary;
      border: none;
    }
  }
  .mess {
    width: 100%;
    height: 7rem;
  }
}

form {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

.submit-button {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

  &:hover {
  }

  &:active {
    transform: scale(0.95) translateX(-50%);
  }
}
