.grid {
  display: grid;
  grid-template-columns: 10rem 1fr 1fr;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.grid-8-col {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5rem;
  width: 130rem;
  transform: translateX(-12rem);
}
.row {
  display: flex;
  flex-direction: row;

  gap: 5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
