*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //now 1 rem will be equal to 10px
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;

  // padding: 1.5rem;
  // max-width: 130rem;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

.u-center-text {
  text-align: center !important;
}

.overflow {
  overflow: hidden;
}
